*, *:after, *:before
{
	border: 0;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
}

body{
	font-size: 16px;
	font-family: sans-serif;
	background-color: #fff;
	max-width: 1500px;
	overflow-x: hidden; 
}

/* LA CLASE CONTENEDOR QUE VA EN TODAS LAS DIVS CONTENEDORAS*/
.container{
	width: 90%;
	max-width: 1240px;
}

/* UN CONTAINER CON OTRAS MEDIDAS*/
.modificar_container{
	margin: 10.5rem auto 0;
	max-width: 1510px;
}

a{
	text-decoration: none;
	color: black;
}

header{
	/* height: 11rem; */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	background-color: #fff;
}


/* TODOS LOS ELEMENTOS QUE TIENEN UN MISMO WIDTH*/
.modificar_container, header, .menu_total, 
.slider1 ul, .slider2 ul, .slider3 ul, .slider1 li, .slider2 li, .slider3 li,
.logo img, .slideshow, .slider li img, .slider li, .slider ul, .pagination,
.left, .right, .info, .slider1 li img, .slider2 li img, .slider3 li img,
.der, .izq, .contenido_empresa img, .contenido_empresa span, .cuadro, 
.slider4 li .caption4, .slider4 li p:first-child {
	width: 100%;
}

/* TODOS LOS ELEMENTOS CON UN MISMO DISPLAY */
.informacion p, .correo, .slideshow1, .slideshow2, .slideshow3, 
.titulo_slider h1, .der, .izq ,.der span, .izq span, 
.contenido_empresa h3, .contenido_empresa p, .etiquetas p,
.section_contacto span p, #formu p, .info_formulario, #respuesta_formulario,
.colum_center, .precio_curso label, .precio_curso p, .cursos_online_lista{
	display: inline-block;
}

/*---------- SUBHEADER ------------*/

.subheader{
	padding: .5rem 0;
}

.informacion{
	color: #D4D4D4;
}

/* ICONO DEL TELEFONO Y DEL CORREO*/
.informacion a span{
	cursor: pointer;
	color: #D4D4D4;
}

/* ICONO DEL TELEFONO Y DEL CORREO AL PASAR EL MENU POR ENCIMA*/
.informacion a span:hover, .informacion a span p:hover{
	color: #FFA500;
}

.informacion a{
	color: #D4D4D4;
}

.informacion a:hover{
	color: #FFA500;
}

.informacion span p{
	margin: 0 .5rem;
	font-size: 18px;
	color: #D4D4D4;
}

.correo{
	padding: .5rem .5rem;
}

.registro a{
	color: #D4D4D4;
	font-size: 18px;
}

.registro a:hover{
	color: #FFA500;
}

.registro a, .informacion, .informacion span p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}



/*---------- LOGO-MENU -------------*/

.logo img{
	height: 50%;
	width: 50%;
	margin: .5rem auto;
}

/*------------- MENU----------------*/
 
.optionsBtn{
	font-weight: bolder;
	font-size: 2vw;
	text-align: right;
	position: relative;
	left: 25px;
	top: 10px;
}

.menu_total nav {
	width:90%;
	max-width:1000px;
	margin:20px auto;
	z-index: 99;
}
 
.menu_bar {
	display:none;
}

.menu_total nav ul {
	overflow:hidden;
	list-style:none;
}
 
.menu_total nav ul li {
	float:left;
}
 
.menu_total nav ul li a {
	color: #221E16;
	padding:30px 10px;
	display:block;
	text-decoration:none;
	font-family: 'Noto Serif', serif;
	font-weight: 700;
}

.menu_total nav ul li a:hover{
	color: #D68B00;
}

.menu_total nav ul li span:first-Child{
	padding-left: 10px;
}
 
.menu_total nav ul li span {
	margin-right: 8px;
}
 
.menu_total nav ul li a:hover {
	border-bottom: 2px solid #D68B00;
	
}
 
section {
	padding:20px;
}

/*--------- SLIDER ----------*/

ul, ol{
	list-style: none;
}

.slideshow{
	margin: 2rem 0;
	position: relative;
}

.slider li img{
	height: 34rem;
	max-width: 100%;
}

.caption{
	position: absolute;
	width: 95%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 15px 8%;
	padding-left: 12%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color:  #fff;
	z-index: 1;
	text-align: center;
	float: center;
}

.slider .caption h1{
	font-size: 50px;
}

.slider .caption p{
	font-size: 22px;
}

.slider .caption b{
	margin-top: 30px;
	background-color: #FFA500;
	padding: 1rem;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 20px;
}

.slider .caption b:hover{
	background-color: #D68B00;
}

.slider .caption b a{
	color: white;
}

.pagination{
	position: absolute;
	top: 105%;
	display: flex;
	justify-content: center;
}

.pagination li{
	font-size: 20px;
	margin: 2px 5px;
	color: #D8D7D0;
	cursor: pointer;
}

.left, .right{
	position: absolute;
	top: 0;
	height: 100%;
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 45px;
	z-index: 2;
	cursor: pointer;
}

.left{
	left: 15px;
}

.right{
	right: 15px;
}

.left:hover, .right:hover{
	color: #f8bd00;
}

/*------ CONTENIDO -----------*/

.el_contenido{
	float: center;
	text-align: center;
}

hr{
	border: .4px solid #ccc;
}

.info{
	background-color:  #D4D4D4;
	height: 16rem;
	margin-bottom: 2.5rem;
	color: #141413;
}

.info h1, .info p{
	color: #221E16;
}

.slideshow1, .slideshow2, .slideshow3{
	width: 30%;
	position: relative;
}

.titulo_slider h1{
	padding: 1rem;
	color: #221E16;
}

.slider1 ul, .slider2 ul, .slider3 ul, .slider1 li, .slider2 li, .slider3 li{
	padding: 0 1rem;
}

.slider1 li img, .slider2 li img, .slider3 li img{
	height: 300px;
}

.der, .izq ,.der span, .izq span{
	font-size: 32px;
	cursor: pointer;
	color: #141413;
}

.titulo_slider{
	display: block;
	text-align: center;
}

/*-------------- FIN CONTENIDO ------------*/


/*----------- CONTENIDO EMPRESA ----------*/

#separador{
	width:100%;
	height:3rem;
}

.ver_info{
	display: none;
	cursor: pointer;
	margin: .2rem auto;
	color: #221E16;
	position: relative;
	left: 40%;
}

.contenido_empresa img, .contenido_empresa span{
	height: 5rem;
	margin-bottom: 1rem;
}

.contenido_empresa span{
	font-size: 10rem;
}

.cuadro{
	margin: 8rem 0;
	text-align: center;
}

.cuadro h3{
	margin-bottom: 1rem;
	color: #221E16;
}

.cuadro p{
	color: #221E16;
}

/*----------- FIN CONTENIDO EMPRESA ----------*/


/*---------------- RECIBIR INFORMACIÓN -----------*/

.recibir_info{
	background-color: orange;
	margin-bottom: 5rem;
}

.input_email{
	border: 2px solid black;
	font-size: 18px;
	padding: .2rem 0;
}

.info_texto h2{
	margin: 5rem 0;
	font-size: 32px;
	color: #fff;
}

#enviar{
	background-color: #D4D4D4;
	color: #221E16;
}

/*---------------- FIN RECIBIR INFORMACIÓN -----------*/


/*---------- OPINION ---------------*/

#titulo_opiniones{
	color: #221E16;
}

.slideshow4{
	margin-bottom: 5rem;
}

.slider4{
	background-color: darkorange;
	height: 20rem;
}

.slider4 li{
	background-color: green;
	height: 20rem;
}

.slider4 li .caption4{
	height: 20rem;
	background-color: orange;
}

.slider4 li .caption4 p:first-child{
	margin: 0;
	font-size: 24px;
	height: 13rem;
}

.slider4 li .caption4 p{
	margin: 1.5rem auto;
	font-size: 24px;
	height: 2rem;
	color: #221E16;
}

.slider4 li .caption4 p b{
	color: #221E16;
}

/*----------- FIN OPINION ------------*/


/*----------- FOOTER --------------*/

.footer{
	margin-top: 1.5rem;
	background-color:  #D4D4D4;
}

.etiquetas{
	margin: 1rem 0;
}

.etiquetas p{
	background-color: orange;
	margin: .2rem;
	padding: .2rem ;
	color: #221E16;
}

.etiquetas p:hover{
	background-color: #D68B00;
}

.redes_sociales span{
	font-size: 60px;
	color: #fff;
	padding: .8rem;
	border-radius: .5rem;
}

.redes_sociales h2{
	margin-top: -25px;
	margin-bottom: 10px;
	color: #221E16;
}

.redes_sociales span:hover{
	background-color: #D68B00;
}

.logo_footer img{
	height: 120px;
	width: 80%;
	margin: .5rem;
}

/*----------- FIN FOOTER -----------*/


/*----------- DISEÑADORES ----------*/

.diseniadores{
	background-color: black;
	color: #fff;
	padding: .6rem;
}

.diseniadores a{
	color: #D68B00;
}

.diseniadores a:hover{
	color: #FFA500;
	font-size: 1.2rem;
}

.copyright{
	color: #fff;
}

/*------------ FIN DISEÑADORES ----------------*/


/*-------------- CONTACTO.html -------------------*/

.section_contacto{
	padding: 2rem;
	background-color: #D68B00;
	color: #fff;
	border-right: 1px solid #D4D4D4;
}

.la_Pagina{
	background-image: url(img/fondo_pagina.jpg);
	background-attachment: fixed;
	background-size: 100% 100%;
	text-align: center;
	margin: 12rem auto 0;
}

.la_Pagina h1{
	color: #fff;
	padding: 2rem;
	font-size: 50px;
}

.section_contacto h3, .section_formulario form label {
	color: #221E16;
}

 .section_formulario form label input{
 	background-color: #D4D4D4;
 	margin-bottom: 2rem;
 }

.section_contacto h3, .section_contacto p, .section_formulario h2{
	margin-bottom: 1rem;
}

.section_formulario h2{
	margin-top: 1.5rem;
}

.section_contacto span p{
	margin-left: 1rem;
}

.section_formulario{
	background-image: url('img/fondo-contacto.jpg');
	background-size: 100% 100%;
	color: #fff;
}

.section_formulario p{
	margin-bottom: 1.2rem;
	color: #D4D4D4;
}

.section_formulario input{
	display: block;
	margin: 2rem 0;
	background-color: #e9e9e9;
	padding: .6rem;
	width: 100%;
	color: #b5b5b5;
}

#asunto{
	margin-bottom: .5rem;
}

.section_formulario textarea{
	display: block;
	background-color: #e9e9e9;
	width: 100%;
	height: 120px;
}


#respuesta_formulario{
	width: 30%;
}

#enviar_formulario{
	width: 50%;
	background-color: #D68B00;
	color: #fff;
	border-radius: 1rem;
	cursor: pointer;
}

/*-------------- FIN CONTACTO ---------------*/


/*------------- REGISTRO ------------------*/

.columnas{
	margin-top: 3rem; 
}

.colum_center{
	background-color: #FFA500;
	padding: .6rem;
	margin: 1rem auto;
}

.precio_curso label{
	padding: .6rem;
	margin: 1rem auto;
}

.precio_curso label, .precio_curso p{
	background-color: #FFA500;
}

.column_center_select{
	background-color: green;
}

.columnas input{
	background-color: #D8D7D0;
	width: 100%;
	padding: .4rem 0;
	margin-bottom: .8rem;
	color: #141413;
}

#pagar{
	margin: 1.5rem auto;
	padding: 1rem 0;
	background-color: #FFA500;
	color: #fff;
}

#pagar:hover{
	background-color: #D68B00;
	cursor: pointer;
}

.columnas input{
	background-color: #D4D4D4;
}

.columnas label{
	margin: 3rem 0;
	color: #221E16;
}

.columna_izquierda, .columna_derecha{
	float: left;
}

.columna_izquierda{
	border-right: 2px solid olive;
}

.columnas select{
	background-color: #D4D4D4;
	padding: .4rem 0;
}

.columna_izquierda select{
	background-color: #D4D4D4;
	width: 100%;
	
	cursor: pointer;
}

.columna_izquierda select option{
	background-color: #fff;
	color: olive;
}

/*------------- FIN REGISTRO ------------------*/


/*--------------- CURSOS ONLINE ----------*/

.curso_uno{
	background-color: #FFA500;
	width: 100%;
}

.curso_uno img:first-child{
	margin-top: 2rem;
	border-radius: .5rem;
}

.curso_uno img{
	width: 100%;
	height: 18rem;
	margin: 1rem auto 0;
}

.primer-elemento{
	display: inline-block;
}

.primer-elemento section h1{
	width: 100%;
}

.primer-elemento section p{
	width: 100%;
	height: 10rem;
}

.primer-elemento button{
	cursor: pointer;
}

.primer-elemento button:hover{
	background-color: green;
}

.primer-elemento button p{
	width: 100%;
	height: 1rem;
	color: red;
}

.curso_uno section {
	margin-top: .6rem;
	background-color: #221E16;
	color: floralwhite;
}

.curso_uno section:last-child{
	margin-bottom: 3rem;
}

.curso_uno button{
	background-color: #D4D4D4;
	margin-top: 1rem;
	padding: 1rem 5rem;
	position: relative;
	width: 100%;
	border-radius: 2rem 2rem;
}

/*.cursos_online_lista{
	margin: 2rem auto;
}

.cursos_online_lista h2{
	width: 100%;
	padding: 1rem 0;
	background-color: #D8D7D0;
	height: 4rem;
}

.cursos_online_lista button{
	width: 100%;
	margin: .8rem auto;
	padding: .4rem;
	background-color: orange;
	color: #fff;
	cursor: pointer;
	border-radius: 0 0 .3rem .3rem;
}

.cursos_online_lista button:hover{
	background-color: darkorange;
}

.cursos_online_lista img{
	width: 100%;
	height: 15rem;
	border-radius: .3rem .3rem 0 0;
}*/


/*--------------- FIN CURSOS ONLINE ----------*/

/*--------------- HERRAMIENTAS -----------------*/

.titulosde_herramientas{
	margin-top: 4rem;
}

#titulo_antivirus, #titulo_editores_texto, #titulo_foros{
	margin-bottom: 3rem;
}

.titulosde_herramientas span{
	margin: 0 .5rem;
}

.titulosde_herramientas h1{
	display: block;
	/*background-color: blue;*/
	background-image: url("img/fondo-herramientas.jpg"); /* Imagen cuando no ha sido tocada*/
	background-size: 100% 100%;
	color: #fff;
	padding: 1rem 0;
	border-radius: .5rem 5rem 5rem .5rem;
	cursor: pointer;
	color:  #fff;
}

.titulosde_herramientas h1:hover{
	background-color: orange;
}

#antivirus, #editores_texto, #foros{
	display: none;
}

#antivirus ul li p, #editores_texto ul li p, #foros ul li p{
	margin: 2rem 0;
}

#antivirus ul li p, #editores_texto ul li p, #foros ul li p{
	color: #D4D4D4;
}

#antivirus ul li p b, #editores_texto ul li p b, #foros ul li p b{
	color: #221E16;
}

#foros{
	margin-bottom: 4rem;
}

.links_descargas{
	background-color: #FFA500;
	padding: 1rem;
}

.links_descargas b{
	color: #fff;
}

/*--------------- FIN HERRAMIENTAS -----------------*/


/*----------- @MEDIA -----------*/

@media screen and (max-width: 1293px){
	.menu_total nav ul li a {
		padding:20px 5px;
	}
}

@media screen and (max-width: 1220px){
	.menu_total nav ul li a {
		padding:20px 3px;
	}
}
 
@media screen and (max-width:1200px ) {

	.menu_total nav {
		background-color:#f8bd00;
		width:100%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}

	header{
		position: static;
	}
 
	.menu_total nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}

	.menu_total nav ul li a {
		color: #fff;
	}

	.menu_total nav ul li a:hover{
		font-size: 1.2rem;
	}
 
	.menu_bar {
		position: absolute;
		display:block;
		width:100%;
		height: 80%;;
		/* background:#ccc; */
		background-color: #f8be0000;

	}
	.logo{
		display: none;
	}
	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		color:#f8be00;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
 
	.menu_bar span {
		float:left;
		font-size:40px;
	}
}

@media screen and (max-width: 765px){

	/*.slider4 .caption4 p i{
		background-color: red;
		margin: 1.3rem;
		display: block;
	}
	

	.slider4 .caption4 p b{
		margin-top: 2rem;
		background-color: green;
	}*/

	.info_texto h2{
		margin: 4rem 0;
		margin-bottom: 1.5rem;
	}

	#enviar{
		margin-bottom: 1rem;
		cursor: pointer;
	}

	.section_contacto span p{
		display: block;
		margin-left: 0;
	}

	.slider li .caption p{
		display: none;
	}

	.pagination, .pagination li{
		display: none;
	}

	.left, .right{	
		top: 10%;
	}

	.info{
		height: 5rem;
		margin-bottom: 1rem;
	}

	.info h1{
		font-size: 16px;
	}

	.info p{
  		display: none;
	}

	.slideshow3 ul li{
		margin-top: 3rem;
	}

	.modificar_container{
		width: 100%;
		margin: 0 auto;
		max-width: 1510px;
	}

	header{
		position: relative;
		background-color: rgba(255,250,250,.1);
	}

	.la_Pagina{
		margin: 12rem auto 0;
	}

	.slider4 li .caption4{
		height: 25rem;
	}

	.slider4{
		background-color: orange;
		height: 25rem;
	}

	.slider4 li .caption4 p:last-child{
		position: relative;
		margin: 10rem auto;
	}

	.slideshow4{
		margin-bottom: 5rem;
	}

	.slider4 li{
		height: 25rem;
	}

	.slider4 li .caption4{
		height: 25rem;
		background-color: orange;
	}

	header{
		height: 8.4rem; /*12.8rem es el anterior*/ 
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 9999;
		background-color: #fff;
	}

	 .slider .caption{
	 	margin-top: 5rem;
	 }

	.slider{
		margin-top: 10rem;
	}

	.primer-elemento section p{
		display: none;
	}

	.primer-elemento button p{
		display: inline-block;
	}

	.curso_uno img{
		width: 90%;
	}

	.subheader{
		display: none;
	}	

	.slider{
		margin-top: 6rem;
	}

	.slider .caption h1{
		font-size: 38px;
	}

	.slider li img{
		height: 380px;
	}

	.left{
		left: 22px;
	}

	.right{
		right: 22px;
	}

	#separador{
		height:5rem;
	}

	.ver_info{
		display: block;
	}

}

@media screen and (max-width: 573px){
	.la_Pagina{
		margin: 13rem auto 0;
	}

	#separador{
		height:9rem;
	}

	.la_Pagina h1{
		font-size: 20px;
	}
	header{
		position: absolute;
	}
}

@media screen and (max-width: 554px){
	header{
		position: absolute;
	}

	.la_Pagina{
		margin: 13rem auto 0;
	}

	.slider .caption{
		margin-top: 5.7rem
	}

	/*.slider{
		margin-top: 11.5rem;
	}*/

	.slider li .caption p{
		display: none;
	}

	.slider .caption b{
		margin-top: 0;
	}

	.info p{
		display: none;
	}

	.cuadro{
		margin: 0 0 2rem 0;
	}

	.cuadro span{
		font-size: 6rem;
	}

	.cuadro h3{
		display: block;
	}

	.cuadro p{
		width: 80%;
	}

	.info_formulario{
		margin-bottom: 2rem;
	} 

	/*.slider li img{
		height: 350px;
	}*/

}

@media screen and (max-width: 1024px){
	.cuadro{
		margin: 0 0 5rem 0;
	}

	header{
		position: absolute;
	}

	.contenido_empresa{
		margin-top: 6rem; 
	}

	.etiquetas{
		margin-top: 15px;
	}

	.redes_sociales{
		margin: .9rem 0;
	}

	.redes_sociales h2{
		margin: 15px 0;
	}

	.logo_footer img{
		height: 80px;
		width: 80%;
		margin: .5rem;
		margin-bottom: 0;
	}
}
#close_menu{
	color: white;
	font-weight: bolder;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#footer_logo{
	width: 50%;
	height: 50%;
}
@media screen and (max-width: 900px){

	.container{
		width: 100%;
	}

}